[mysqld]
# Ustawienia ogólne
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-character-set-client-handshake

# Ustawienia bezpieczeństwa
secure-file-priv = ""

# Ustawienia zabezpieczeń (do rozważenia)
# Uwaga: Zmiany w tych ustawieniach mogą mieć wpływ na bezpieczeństwo systemu
bind-address = 0.0.0.0